
<div class="landing-img" id="landing-image">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="moon-img">
					<p class="text-center"><img src='/images/bigMoonNew3.jpg', width: "700" /></p>
				</div>
				<p class="text-center tags"><span class="blue">Design</span> | <span class="blue">Web</span> | <span class="blue">Marketing</p>
			</div>
		</div>
	</div>
</div>
<!--
<div user-panel></div>
<section>
	<h2 class="section-hdr">Our Services</h2>
</section>

<div class="section2">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="service-block"></div>
			</div>
			<div class="col-md-3">
				<div class="service-block"></div>
			</div>
			<div class="col-md-3">
				<div class="service-block"></div>
			</div>
			<div class="col-md-3">
				<div class="service-block"></div>
			</div>
		</div>
	</div>
</div>

<section>
	<h2 class="section-hdr">Our Work</h2>
</section>



<section>
	<h2 class="section-hdr">About Us</h2>
</section>



<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

			</div>
			<div class="col-md-6">

			</div>
		</div>
	</div>
</div>

-->